* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    scroll-behavior: smooth;
}
p {
    margin-bottom: 0;
}

/**************************************** Start Header CSS ********************/
.header {
    width: 100%;
    position: sticky;
    top: 0;
    background: #27313a;
    z-index: 2;
}
.header_img {
    width: 100%;
}
.header_img img {
    width: 100%;
}
.header_type {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #27313a;
    padding: 15px 40px;
}
.header_type div {
    display: flex;
    justify-content: space-between;
}
.name_type {
    width: 40%;
    color: #92b3ca;
    font-weight: bold;
    font-size: 18px;
}
.name_type a {
    color: #92b3ca;
    text-decoration: none;
}
.name_type p {
    line-height: 38.4px;
}

.icon_type {
    width: 35%;
}
.icon_type p {
    color: white;
    line-height: 38.4px;
}
.icon_type a {
    color: white;
}
.search {
    width: 60%;
    position: relative;
}
.search p {
    color: #90b1c9;
    position: absolute;
    top: 10px;
    left: 10px;
    line-height: 0;
    z-index: 63;
}
.search_suggest {
    position: absolute;
    top: 57%;
    right: 0;
    background: #334451;
    width: 100%;
    height: fit-content;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    padding: 20px 0px 12px 0px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    opacity: 0;
}
.search_suggest ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}
.search_suggest ul li {
    padding: 5px 20px;
    border-radius: 5px;
}
.search_suggest ul li:hover {
    background: #63b1bc;
    cursor: pointer;
}
.search input {
    width: 100%;
    border: none;
    border-radius: 50px;
    background-color: #334451;
    padding: 0px 40px;
    color: #90b1c9;
    font-weight: bold;
    font-size: 13px;
    z-index: 62;
}

.header_category {
    width: 100%;
    padding: 13px 50px;
    background: #63b1bc;
    color: white;
    font-size: 15px;
}
.in_header_category {
    width: 100%;
    display: flex;
}
.in_header_category a {
    margin-right: 60px;
    color: white;
    text-decoration: none;
}
.name_type a:hover {
    cursor: pointer;
    color: white;
}
.icon_type p:hover {
    cursor: pointer;
}
.header_category p:hover {
    font-weight: 900;
    cursor: pointer;
}

#user_action {
    display: block;
}
#user_action {
    position: absolute;
    background: white;
    text-align: center;
    border-radius: 5px;
    top: 90%;
    right: 3%;
    display: none;
}
#user_action a {
    color: black;
    text-decoration: none;
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0px 10px;
}

#user_action p:hover {
    cursor: pointer;
    background: black;
    color: white;
    border-radius: 5px;
}
#user_action a:hover {
    color: white;
}
.whatyoulookingfor:focus {
    outline: none;
}
.whatyoulookingfor:focus::-webkit-input-placeholder {
    opacity: 0;
}
/**************************************** End Header CSS ********************/

/**************************************** Start Shop Signup CSS ********************/
.signup_form_box {
    background: url(https://media.canifa.com/Simiconnector/banner_name_tablet1670314296.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 515px;
    padding: 10px;
}
.signup_form_box form {
    width: 35%;
    /* height: 100%; */
    background: rgba(255, 255, 255);
    padding: 25px 35px;
    margin-left: 200px;
}
.signup_form_box form input {
    display: block;
    border: none;
    border-bottom: 1px solid grey;
    width: 100%;
    padding: 5px 0px;
    font-size: 20px;
}
.signup_form_box form h2 {
    margin-bottom: 30px;
}
.signup_form_box form input:focus {
    outline: none;
}
.signup_form_box form button {
    width: 100%;
    border: none;
    background-color: rgb(12, 154, 255);
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 10px 0px;
}
.signup_form_box form button:hover {
    background-color: #27313a;
}
.signup_form_box form a {
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
}
.signup_form_box span {
    color: red;
    font-size: 13px;
}
.agree {
    font-size: 13px;
    margin-top: 20px;
}
.agree span {
    color: rgb(0, 136, 255);
}
.agree span:hover {
    cursor: pointer;
}
/**************************************** End Shop Signup CSS ********************/

/**************************************** Start Shop Login CSS ********************/
.login_paw {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    margin-bottom: 20px;
}
.loginform input {
    width: 100%;
    margin: 10px 0px;
}
.loginform input:focus::-webkit-input-placeholder {
    opacity: 0;
}
.loginform button {
    margin-top: 10px;
}
.login_shop_error {
    font-size: 13px;
    color: red;
}
/**************************************** End Shop Login CSS ********************/

/**************************************** Start Content CSS ********************/
.view_msg {
    width: 26%;
    background: white;
    z-index: 35;
    position: fixed;
    padding: 15px 30px;
    top: 5%;
    left: 37%;
    border-radius: 5px;
    border: 3px solid #63b1bc;
}
.view_msg div {
    display: flex;
    justify-content: space-between;
    font-size: 27px;
}
.view_msg div p:nth-child(1) {
    line-height: 52px;
    font-size: 20px;
}
.view_msg div p:nth-child(2) {
    color: white;
    text-align: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #63b1bc;
    font-size: 25px;
}
.view_msg div i {
    line-height: 52px;
}
.home_content {
    width: 100%;
}
.in_content {
    padding: 1px 25px 25px 25px;
    background: url(https://images.unsplash.com/photo-1529753253655-470be9a42781?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8YmxhY2slMjBzdG9uZXxlbnwwfHwwfHw%3D&w=1000&q=80);
}

/**************************************** End Content CSS ********************/

/**************************************** Start Footer CSS ********************/
.footer {
    width: 100%;
    background: #313e49;
}
.top_footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    border-bottom: 1px solid white;
}
.top_footer div {
    color: white;
}
.canifa {
    width: 35%;
    padding-right: 100px;
}
.side_canifa {
    width: 22%;
}
.security_icon img {
    width: 40%;
}
.qrcode {
    width: 14% !important;
}
.top_footer div p {
    margin-bottom: 15px;
}
.top_footer div h3 {
    margin-bottom: 25px;
    font-size: 20px;
}
.top_footer p {
    font-size: 15px;
}
.payway {
    margin-top: 50px;
}
.paywaypic {
    width: 100% !important;
}
.bot_footer {
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 13px;
}
.bot_footer p {
    line-height: 27px;
}
.bot_footer i {
    font-size: 27px;
}
.bot_footer i:hover {
    cursor: pointer;
}
.bot_footer a {
    color: white;
}
.bot_footer span {
    margin-right: 15px;
}

/**************************************** End Footer CSS *******************************/

/**************************************** Start Home CSS ******************************/
.new_product {
    color: white;
    font-size: 30px;
    margin-top: 30px;
}

.product_slide {
    display: flex;
    justify-content: space-between;
}
.left_slide {
    width: 28%;
}
.left_slide img {
    border-radius: 10px;
}
.right_slide {
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}
.top_image {
    margin-top: 50px;
}
.top_image img {
    width: 100%;
}
.product_box {
    width: 32%;
    position: relative;
}
.product_box img {
    width: 100%;
    border-radius: 10px;
}
.product_box p {
    color: white;
    font-size: 35px;
    font-weight: bold;
}
.product_box p:nth-child(1) {
    font-size: 25px;
    opacity: 0.8;
    margin-top: 5px;
}
.name_price {
    padding: 0px 10px;
}
.mid_image img {
    width: 100%;
}
.mid_image {
    margin-top: 50px;
}
.category_bar {
    width: 100%;
    color: #92b3ca;
    padding: 20px 0;
    background: #27313a;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
}
.category_bar div {
    width: 55%;
    display: flex;
    justify-content: space-between;
}
.category_bar a {
    line-height: 39.8px;
    color: white;
    text-decoration: none;
}
.category_bar a:first-child {
    font-size: 30px;
}
.category_bar p:hover {
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.category_product {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.category_product_box {
    width: 23.5%;
    color: white;
    margin-right: 17px;
    margin-bottom: 30px;
    position: relative;
}
.category_product_box a,
.product_box a {
    color: white;
    text-decoration: none;
}
.found_data_box a {
    text-decoration: none;
    color: black;
}
.found_data_box:hover {
    color: black;
}
.category_product_box p:hover,
.product_box p:hover {
    color: red;
}
.category_product_box img {
    width: 100%;
    border-radius: 10px;
}
.category_product_box p {
    font-size: 25px;
}
.category_product_box p:nth-child(1) {
    font-size: 20px;
    margin-top: 5px;
    opacity: 0.8;
}
.see_detail {
    position: absolute;
    text-align: center;
    width: 60%;
    top: 30%;
    right: 20%;
    background: black;
    color: white;
    display: none;
    opacity: 0.6;
}
.see_detail a {
    display: block;
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 15px 0px;
}
.see_detail:hover {
    cursor: pointer;
    font-weight: bold;
    opacity: 1;
}
.category_product_box:hover .see_detail {
    display: block;
}
.product_box:hover .see_detail {
    display: block;
}
.contact {
    width: 100%;
    color: white;
}
.contact div {
    width: 50%;
    display: flex;
    background: #333f48;
    padding: 20px 100px;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 10px;
}
.contact div p {
    font-weight: bold;
    line-height: 34px;
}
.contact_icon {
    width: 100%;
}
.contact_icon a {
    font-size: 25px;
    color: white;
}

.contact_email {
    position: relative;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.paper_plane {
    position: absolute;
    top: 32px;
    right: 65px;
}
.choose_product {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
.choose_product div {
    width: 110px;
    height: 45px;
    border-radius: 3px;
    background-color: #54a0aa;
    text-align: center;
    font-size: 14px;
    color: white;
    margin-right: 12px;
    margin-bottom: 10px;
}
.choose_product div a {
    color: white;
    text-decoration: none;
}
.choose_product div p {
    line-height: 45px;
}
.choose_product div:hover {
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}
#type {
    display: none;
}
/**************************************** End Home CSS ******************************/

/**************************************** Start To Top CSS ******************************/
.to_top_box {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.to_top_box div {
    color: white;
    text-align: center;
    border-radius: 5px;
    font-size: 7px;
    padding: 10px 5px;
}
.to_top_box div a {
    color: white;
    text-decoration: none;
}
.to_top_box div:nth-child(1) {
    background: red;
    margin-bottom: 10px;
}
.to_top_box div:nth-child(2) {
    background: blue;
}

/**************************************** End To Top CSS ******************************/

/**************************************** Start Find Product CSS ******************************/
.in_content_product {
    width: 100%;
    padding: 25px;
    background: url(https://img.freepik.com/premium-photo/white-grey-marble-texture-background-natural-pattern_38607-395.jpg?w=2000);
}
.found_product_box {
    width: 18.8%;
}

/**************************************** End Find Product CSS ******************************/

/**************************************** Start Infor Product CSS ******************************/

.about_product {
    width: 100%;
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
}
.product_thumbnail {
    width: 55%;
}
.product_thumbnail img {
    width: 100%;
}
.productDetail_thumbnail {
    width: 12%;
    padding: 0px 40px 0px 10px;
}
.productDetail_thumbnail img {
    width: 100%;
    margin-bottom: 5px;
}
.productDetail_thumbnail img:hover {
    cursor: pointer;
    border: 1px solid #63b1bc;
}
.product_infor {
    width: 33%;
}
.top_infor {
    border-bottom: 2px solid rgb(202, 202, 202);
    padding-bottom: 20px;
}
.top_infor p {
    margin: 20px 0px;
    font-size: 20px;
    opacity: 0.7;
}
.top_infor h3 {
    font-size: 25px;
    font-weight: bold;
}
.detail_color {
    display: inline-block;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    border: 3.5px solid rgb(206, 206, 206);
    margin-right: 5px;
    background-position: center !important;
    font-size: 0;
}
.detail_color:hover {
    cursor: pointer;
    border: 3.5px solid black;
}
.detail_size {
    display: inline-block;
    border: 1px solid grey;
    text-align: center;
    padding: 8px 22px;
    font-size: 15px;
    margin: 0px 5px 5px 0px;
    background: white;
}
.detail_size:hover {
    background: rgb(76, 76, 76);
    cursor: pointer;
    font-weight: bold;
    color: white;
}
.mid_infor {
    padding-top: 20px;
    border-bottom: 2px solid rgb(202, 202, 202);
}
.mid_infor p {
    margin: 15px 0px 10px 0px;
    font-size: 13px;
    color: grey;
}
.bot_infor {
    padding: 35px 0px 30px 0px;
    border-bottom: 2px solid rgb(202, 202, 202);
}
.bot_infor p i {
    color: #63b1bc;
    margin-right: 10px;
}
.bot_infor p {
    font-size: 14px;
    margin-bottom: 10px;
}
.to_cart,
.buy_now {
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    border: 1px solid #333f48;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 13px;
    background: white;
}
.to_cart {
    margin-top: 30px;
    background: #333f48;
    color: white;
}
.to_cart:hover,
.buy_now:hover {
    cursor: pointer;
}
.to_cart:hover {
    background: black;
    font-weight: bold;
}
.buy_now:hover {
    font-weight: bold;
    background: rgb(185, 0, 0);
    color: white !important;
}
.favorite_product {
    width: 70%;
    font-size: 25px;
    margin-top: 20px;
}
.favorite_product i {
    color: #63b1bc;
    margin-right: 5px;
    font-size: 35px;
}
.favorite_product:hover {
    cursor: pointer;
}
.related_product {
    padding: 40px 50px;
    width: 100%;
}
.show_related_product {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.related_box {
    width: 23%;
    margin-right: 27px;
    position: relative;
}
.related_box img {
    width: 100%;
    border-radius: 10px;
}
.related_box a:nth-child(2) {
    color: black;
    text-decoration: none;
}
.related_name {
    font-size: 20px;
    margin-top: 5px;
    opacity: 0.7;
}
.related_price {
    font-size: 25px;
    font-weight: bold;
    opacity: 0.7;
}
.under_bot_infor {
    padding-top: 20px;
}
.under_bot_infor h5 {
    margin-top: 20px;
    font-weight: bold;
}
.related_box:hover .see_detail {
    display: block;
}
.related_box:hover .related_name {
    text-decoration: underline;
}
.size_chosen {
    background: black;
    font-weight: bold;
    color: white;
}
.color_chosen {
    border: 3.5px solid black;
}
.undefined_color,
.undefined_size {
    color: red;
    font-weight: bold;
    margin-left: 10px;
    display: none;
}
.success_signup_box {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgb(239, 239, 239, 0.8);
    top: 0;
    z-index: 20;
}
.success_msg {
    display: none;
}
.success_signup {
    position: fixed;
    padding: 20px 40px 40px 40px;
    background: #313e49;
    top: 25%;
    left: 35%;
    z-index: 3;
    border-radius: 10px;
}
.success_signup p:first-child {
    font-size: 50px;
    width: 100%;
    text-align: center;
    color: white;
}
.success_signup p:nth-child(2) {
    font-size: 30px;
    width: 100%;
    text-align: center;
    color: white;
}
.success_signup div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.success_signup button {
    background: white;
    color: black;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}
.success_signup button:nth-child(2) {
    padding: 5px 20px;
}
.success_signup a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    padding: 5px 20px;
}
.success_signup button:hover {
    background: rgb(0, 115, 255);
    color: white;
}
.success_signup a:hover {
    color: white;
}
.success_tocart {
    position: fixed;
    padding: 15px 30px;
    background: white;
    border: 4px solid #63b1bc;
    top: 4%;
    left: 35%;
    z-index: 3;
    border-radius: 10px;
    display: none;
}
.success_tocart p:nth-child(1) {
    width: 100%;
    text-align: center;
    font-size: 55px;
    color: #63b1bc;
}
.success_tocart span {
    font-weight: bold;
    font-size: 18px;
}
.quantity_tocart span {
    font-size: 30px;
}
.quantity_tocart span:nth-child(2) {
    margin: 25px;
}
.quantity_tocart span:nth-child(1):hover,
.quantity_tocart span:nth-child(3):hover {
    cursor: pointer;
    color: black;
}
/**************************************** End Infor Product CSS ******************************/

/**************************************** Start Shop Cart CSS ******************************/
.cart_header {
    width: 100%;
    background: #17242b;
    padding: 20px 90px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.header_logo {
    display: flex;
    justify-content: space-between;
    width: 23%;
}
.vshop {
    font-size: 20px;
    padding: 8px 13px;
    background: red;
}
.header_logo p:nth-child(2),
.continue p {
    padding: 10px 13px;
}
.cart_header a {
    color: white;
    text-decoration: none;
}
.cart_body {
    width: 100%;
    padding: 35px 90px;
    display: flex;
    justify-content: space-between;
}
.cart_body_left {
    width: 70%;
    background: #f7f7f7;
    padding: 30px 40px;
}
.cart_body_right {
    width: 29%;
    background: #f7f7f7;
}
.freeship {
    display: flex;
    justify-content: space-between;
    width: 40%;
    background: white;
    box-shadow: 3px 3px 3px 3px rgb(227, 227, 227);
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.freeship p:nth-child(1) {
    color: white;
    background: #63b1bc;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
}
.freeship p:nth-child(1) i {
    line-height: 35px;
}
.freeship p:nth-child(2) {
    font-size: 13px;
    opacity: 0.8;
    line-height: 35px;
}
.cart_body_table {
    width: 100%;
    margin-top: 30px;
}
.cart_body_table table {
    width: 100%;
}
.cart_body_table table tr {
    border-bottom: 1px solid rgb(194, 194, 194, 0.5);
}
.cart_body_table thead td {
    background: #333f48;
    color: white;
    padding: 10px 20px;
    font-size: 15px;
}
table {
    border-spacing: 0;
}
.cart_body_table td {
    text-align: center;
    padding: 10px 0px;
}
.total_number {
    margin: 0px 10px;
}
.minus,
.plus {
    color: rgb(173, 173, 173);
}
.minus i:hover,
.plus i:hover {
    color: black;
    cursor: pointer;
}
.cart_body_right {
    padding: 40px;
}
.cart_right_top p {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.cart_right_top {
    border-bottom: 1px solid rgb(212, 212, 212);
    padding-bottom: 30px;
}
.order {
    display: block !important;
    text-align: center;
    background: #333f48;
    margin-top: 30px;
}
.order a,
#cannot_order,
#cannot_order2 {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 0px;
    color: white;
    text-decoration: none;
    background: #333f48;
    text-align: center;
}
#cannot_order2 {
    display: none;
}
#cannot_order:hover,
#cannot_order2:hover {
    background: grey;
    cursor: no-drop;
}
.order a:hover {
    font-weight: bold;
    background: black;
    cursor: pointer;
}
.cart_price,
.discount {
    color: rgb(166, 166, 166);
}
.discount span:nth-child(2) {
    color: red;
}
.total_price {
    font-weight: bold;
    font-size: 18px;
}
.cart_right_bottom {
    margin-top: 20px;
}
.cart_right_bottom p {
    font-size: 13px;
    color: grey;
    margin-bottom: 10px;
}
.cart_right_bottom img {
    width: 100%;
}
.cart_product img {
    width: 60px;
}
.cart_product div:nth-child(1) {
    display: flex;
    justify-content: space-evenly;
}
.cart_color {
    width: 24px;
    border-radius: 50%;
    border: 3px solid rgb(193, 193, 193);
    background-position: center !important;
}
.cart_size_color div {
    display: flex;
    margin-top: 10px;
    font-weight: bold;
}
.cart_size_color div p:nth-child(2) {
    margin: 0px 5px;
}
.cart_name {
    font-size: 14px;
    color: grey;
}
.cart_name a {
    display: block;
    text-decoration: none;
    color: rgb(116, 116, 116);
}
.cart_product_price {
    font-weight: bold;
}
.cartItem_tr .fa-circle-xmark {
    display: none;
}
.cartItem_tr:hover .fa-circle-xmark {
    display: block;
    cursor: pointer;
}
.cartItem_tr:hover .cart_name a {
    text-decoration: underline;
}
#product_td {
    text-align: left;
}
.single_price,
.cart_total_price {
    display: none;
}
.product_storage {
    font-weight: bold;
    color: black;
    font-size: 15px;
    margin: 0px 10px;
}
#limited_storage {
    color: red;
    font-weight: bold;
    font-size: 15px;
    opacity: 0;
    margin: 0;
}
#limited_quantity {
    font-size: 15px;
    color: red;
    opacity: 0;
    margin: 0;
    font-weight: bold;
}
#limited_quantity span {
    font-weight: bold;
    font-size: 20px;
    margin: 0 5px;
}
.emptycart {
    width: 65%;
    margin: 0 auto;
}
/**************************************** End Shop Cart CSS ******************************/

/**************************************** Start User Infor CSS ******************************/
.user_box {
    width: 100%;
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
}
.user_box h2 {
    font-weight: bold;
}
.user_box_left {
    width: 30%;
    height: 490px;
    box-shadow: 0px 0px 3px 3px rgb(145, 145, 145);
}
.user_name {
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: bold;
}
.user_point {
    text-align: center;
    padding: 10px 30px;
    background: #63b1bc;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.cart_level {
    background: rgb(60, 162, 0);
    color: white;
    padding: 2.5px 14px;
    width: fit-content;
    margin: 0 auto;
    font-size: 12px;
    border-radius: 5px;
}
.user_action {
    width: 100%;
    border-top: 1px solid #ebebeb;
}
.user_action ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.user_action ul li {
    padding: 10px 30px;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    font-size: 17px;
    font-weight: bold;
}
.user_action ul li i {
    margin-right: 15px;
    color: rgb(198, 198, 198);
    font-size: 23px;
}
.user_action ul li:hover {
    cursor: pointer;
}
.user_action ul li:hover i {
    font-weight: bold;
    color: #63b1bc;
}
.user_action a {
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;
}
.user_support {
    text-align: center;
    padding: 20px;
}
.user_support p:nth-child(1) {
    font-weight: bold;
    font-size: 15px;
}
.user_support p:nth-child(2) {
    font-size: 13px;
}
.user_box_right {
    width: 67%;
}
.user_box_right form {
    width: 100%;
}
.user_update_account_left {
    padding: 10px 20px 0px 15px;
    border: 2px solid rgb(56, 192, 255);
    width: 60%;
    margin-bottom: 30px;
}
.user_update_account_left div {
    padding: 8px 10px 0px 10px;
    border: 1px solid rgb(56, 192, 255);
    margin-bottom: 20px;
}
.user_box_right form div p {
    font-size: 13px;
}
.user_box_right form div input {
    border: none;
    width: 100%;
    outline: none;
    font-weight: bold;
    font-size: 18px;
}
.user_box_right form button {
    width: 100%;
    color: white;
    background-color: rgb(56, 192, 255);
    border: none;
    padding: 15px 30px;
    font-weight: bold;
    margin-top: 10px;
}
.user_box_right form button:hover {
    cursor: pointer;
    background: #da291c;
}
.order_view {
    width: 100%;
    box-shadow: 0px 0px 3px 3px rgb(232 232 232);
    height: 100%;
    display: flex;
    /* border-left: 1px solid black; */
}
.order_status {
    font-size: 15px;
    font-weight: bold;
    width: 10%;
    padding-top: 42.5px;
    /* background: #313e49; */
    background: linear-gradient(0deg, #63b1bc 90%, #313e49 10%);
}
.order_status p {
    width: 100%;
    height: 20%;
    text-align: center;
    color: white;
    line-height: 96.8px;
    background: #63b1bc;
}
.order_status p:hover {
    cursor: pointer;
    background-color: #557189;
}
.order_status_chosen {
    background: #557189 !important;
}
.order_content {
    width: 100%;
}
.order_content table {
    width: 100%;
}
.order_content table th {
    background: #333f48;
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    text-align: center;
}
.order_content table td {
    text-align: center;
    padding: 10px 20px;
}
.order_cancelRequest_row td:nth-child(5),
.order_cancelRequest_row td:nth-child(2) {
    font-weight: bold;
    color: red;
}
.order_active_row td:nth-child(2),
.order_active_row td:nth-child(5) {
    color: rgb(0, 140, 255);
    font-weight: bold;
}
.order_cancel_row {
    background: rgb(255, 18, 18);
    color: white;
    font-weight: bold;
}
.order_complete_row td {
    color: rgb(0, 206, 0);
    font-weight: bold;
}
.order_delivering_row td:nth-child(2),
.order_delivering_row td:nth-child(5) {
    color: rgb(255, 117, 32);
    font-weight: bold;
}
.can_cancel,
.can_receive {
    padding: 3px 0px;
}
.can_cancel {
    background: rgb(70, 196, 255);
    color: white;
    border-radius: 4px;
}
.can_receive {
    background: rgb(15, 255, 39);
    color: white;
    border-radius: 4px;
}
.can_receive:hover {
    background: rgb(0, 80, 0);
    font-weight: bold;
    cursor: pointer;
}
.cannot_cancel {
    opacity: 0;
}
.can_cancel:hover {
    background: #333f48;
    font-weight: bold;
    cursor: pointer;
}
.confirm_cancel {
    background: #63b1bc;
    position: fixed;
    z-index: 30;
    top: 25%;
    padding: 20px 30px;
    color: white;
    display: none;
}
.confirm_cancel h3:nth-child(1) {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.confirm_cancel h3:nth-child(2) {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}
.box_reason input {
    margin-right: 5px;
}
.input_note {
    width: 100%;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 17px;
    margin: 10px 0px 20px 0px;
}
input[type="checkbox" i] {
    cursor: pointer;
}
.cancel_button {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.cancel_button button {
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    background: #27313a;
    color: white;
}
.cancel_button button:nth-child(1):hover {
    background: red;
    font-weight: bold;
}
.cancel_button button:nth-child(2):hover {
    background: green;
    font-weight: bold;
}
.hiden_orderId,
.hiden_cancel_orderId {
    display: none;
}
.show_orderItem {
    width: 56.9%;
    height: 442px;
    position: absolute;
    background: white;
    top: 33%;
    display: none;
    border-bottom: 5px solid #333f48;
}
#order_father:hover {
    background: #cad2d9;
    cursor: pointer;
}
.show_orderItem_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.show_orderItem_header p {
    width: 20%;
    text-align: center;
    padding: 15px 0px;
    font-weight: bold;
    border-bottom: 2px solid #63b1bc;
}
.orderItem_big_picture {
    width: 65px;
    height: 75px;
}
.orderItem_small_picture {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-position: center !important;
}
.show_orderItem_item {
    width: 83%;
    font-weight: bold;
    height: 310px;
    overflow-y: scroll;
}
.show_orderItem_item::-webkit-scrollbar {
    display: none;
}
.show_orderItem_item_div div {
    width: 20%;
    text-align: center;
}
.show_orderItem_item_div {
    border: 2px solid #63b1bc;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 5px;
}
.orderItem_detail {
    font-size: 20px;
    font-weight: bold;
    color: #333f48;
    padding: 15px 10px;
}
.vertical_center {
    padding-top: 15px;
}
.vertical_center a {
    color: black;
    text-decoration: none;
}
.vertical_center a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.backto_order {
    z-index: 50;
}
.backto_order:hover {
    cursor: pointer;
    color: #63b1bc;
    font-weight: bold;
}
.user_favorite_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.favorite_div {
    width: 23.2%;
}
.user_update_account input::-webkit-input-placeholder {
    font-size: 13px;
    color: red;
}
.user_update_account input:focus::-webkit-input-placeholder {
    opacity: 0;
}
.user_update_account {
    display: flex;
    justify-content: space-between;
}
.user_update_account_left {
    padding: 20px 20px;
}
.user_update_account_left span {
    color: red;
    font-weight: bold;
}
.user_update_account_right {
    width: 38%;
    text-align: center;
}
.user_update_account_right img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #63b1bc;
    object-fit: cover;
}
.label_for_avatar {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
    background: #63b1bc;
    color: white;
}
.label_for_avatar:hover {
    background: #313e49;
    font-weight: bold;
    cursor: pointer;
}
/**************************************** End User Infor CSS ******************************/

/**************************************** Start Checkout CSS ******************************/

.checkout_container {
    width: 100%;
    padding: 30px 40px;
}
.checkout_container form {
    display: flex;
    justify-content: space-between;
}
.checkout_left {
    width: 68%;
    padding: 20px 30px;
    box-shadow: 0px 0px 4px 4px rgb(239, 239, 239);
}
.order_infor {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}
.order_infor a {
    color: black;
    text-decoration: none;
}
.order_infor a:hover {
    color: rgb(56, 192, 255);
}
.order_infor p {
    font-size: 23px;
    font-weight: bold;
}
.order_infor_input {
    width: 70%;
    border: 1px solid rgb(56, 192, 255);
    padding: 5px 10px;
    margin-bottom: 20px;
}
.order_infor_input p {
    font-size: 15px;
}
.order_infor_input input {
    border: none;
    outline: none;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
}
.checkout_left_top {
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(236, 236, 236);
}
.checkout_left_mid {
    padding: 20px 0px;
    border-bottom: 2px solid rgb(236, 236, 236);
}
.checkout_left_mid h3,
.checkout_left_bot h3,
.checkout_right h3 {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 20px;
}
.choose_pay {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid rgb(56, 192, 255);
    padding: 15px 25px;
    margin-bottom: 20px;
}
.checkout_left_mid img {
    height: 25px;
}
.checkout_left_mid div p {
    line-height: 25px;
}
.checkbox {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 3px;
}
.choose_pay div {
    display: flex;
}
.choose_pay:hover {
    cursor: pointer;
}
.choose_pay p {
    font-weight: bold;
}
.choose_pay p:nth-child(1) {
    margin-right: 20px;
    border: 1px solid rgb(56, 192, 255);
}
.in_checkbox {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-size: 1px;
    color: white;
}
.black {
    background: rgb(56, 192, 255);
    color: rgb(56, 192, 255);
}
.pay_chosen {
    background: rgb(236, 236, 236);
}
.checkout_left_bot {
    padding: 20px 0px;
}
.checkout_right {
    width: 28%;
    box-shadow: 0px 0px 4px 4px rgb(239, 239, 239);
    padding: 20px 30px;
}
.checkout_right .cart_price,
.checkout_right .total_price {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
.discount {
    padding: 20px 0px 40px 0px;
    border-bottom: 1px solid rgb(230, 230, 230);
    border-top: 1px solid rgb(230, 230, 230);
    margin: 30px 0px;
}
.discount p {
    font-size: 15px;
    font-weight: bold;
    color: black;
    margin: 10px 0px;
}
.discount div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.discount div input {
    width: 70%;
    padding: 5px 10px;
}
.discount div input:focus {
    outline: none;
}
.discount div input::placeholder {
    opacity: 0.5;
}
.discount div p {
    width: 30%;
    text-align: center;
    background: rgb(56, 192, 255);
    color: white;
    padding: 8px 0px;
    margin: 0;
}
.discount div p:hover {
    background: #333f48;
    cursor: pointer;
}
.get_bill button {
    width: 100%;
    background: rgb(56, 192, 255);
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border: none;
}
.get_bill button:hover {
    cursor: pointer;
    background: #333f48;
    font-weight: bold;
}

#payment_method_input {
    display: none;
}
#select_voucher {
    width: 100%;
}
#select_voucher option {
    width: 100%;
}
.vnpay_qr_code {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    display: none;
}
.vnpay_qr_code img {
    width: 100%;
}
.shoppe_qr_code {
    width: 100%;
    text-align: center;
    background: orangered;
    color: white;
    padding: 10px 0px;
    border-radius: 15px;
    margin-bottom: 20px;
    display: none;
}
.shoppe_qr_code h3 {
    margin: 10px 0px;
}
.shoppe_qr_code img {
    width: 60%;
}
#avatar_user {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
}
/**************************************** End Checkout CSS ******************************/

/******************** Start Pagination Admin CSS ********************/
.pagination_box svg {
    width: 20px;
}
.pagination_box {
    margin-bottom: 30px;
    width: 100%;
    text-align: right;
    padding-right: 30px;
}
.pagination_box a {
    color: #2a808b;
    font-weight: bold;
    text-decoration: none;
}
.pagination_box span[aria-current] span {
    color: white;
    background: #63b1bc !important;
    font-weight: bold;
}
.pagination_box div:nth-child(1) {
    display: none;
}
/******************** End Pagination Admin CSS ********************/
/******************** Start User Address Book CSS ********************/
.user_address_header {
    display: flex;
    justify-content: space-between;
}
/******************** End User Address Book CSS ********************/ ;
