* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}
* h1,
* p,
* ul {
    margin: 0;
}
/******************** Start Up date form *******************/
.updateform {
    width: 30%;
    margin: 0 auto;
    background: pink;
    padding: 20px 30px;
    border-radius: 5px;
}
.updateform input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 5px 12px;
    margin-bottom: 10px;
    font-size: 17px;
}
.updateform button {
    border-radius: 5px;
    border: none;
    background: rgb(91, 219, 255);
    padding: 12px 22px;
    font-weight: bold;
    font-size: 16px;
}
.updateform button:hover {
    color: white;
    background: blue;
    cursor: pointer;
}
/******************** End updateform **************************/

/******************** Login form ********************/
.loginform {
    width: 30%;
    border: 3px solid rgb(58, 157, 255);
    margin: 20px auto;
    padding: 20px 25px;
    border-radius: 5px;
}
.div_input {
    width: 100%;
    background: white;
    margin-bottom: 10px;
    padding: 10px 20px 0px 15px;
    border: 1px solid rgb(58, 157, 255);
    border-radius: 5px;
}
.div_input input {
    padding: 5px 0px;
    width: 100%;
    border: none;
    font-size: 20px;
    font-weight: bold;
}
.div_input input:focus {
    outline: none;
}
.div_input input::placeholder {
    font-size: 14px;
    color: red;
    opacity: 0.7;
}
.div_input input:focus::-webkit-input-placeholder {
    opacity: 0;
}
.login_paw {
    font-size: 60px;
    color: rgb(58, 157, 255);
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.loginform button {
    background: rgb(106, 181, 255);
    font-size: 18px;
    border-radius: 5px;
    border: none;
    width: 30%;
    padding: 10px 0;
    color: black;
    font-weight: bold;
}
.loginform button:hover {
    color: white;
    background: rgb(0, 101, 203);
    cursor: pointer;
}
.div_button {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
/********************* End login form *********************/

/********************* Start Admin header *********************/
header {
    width: 81.7%;
    border-radius: 10px;
    background: #27313a;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    border: 2px solid black;
    color: #70c3ce;
    float: right;
    margin-right: 10px;
    margin-top: 7px;
    /* box-shadow: 0px 0px 3px 3px rgb(217, 217, 217); */
}
header p:hover {
    cursor: pointer;
}

.headerright {
    display: flex;
    justify-content: space-between;
    width: 20%;
}
.pic {
    width: 37px;
    height: 25px;
}
.father {
    position: relative;
}
.son {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: 10px;
    text-align: center;
    line-height: 13px;
    font-weight: bold;
    top: -2px;
    right: -5px;
}
.nonebookmark,
.nonestar {
    display: none;
}
.headermid input {
    width: 100%;
    height: 35px;
    border-radius: 50px;
    background: #334451;
    padding: 5px 37px;
    border: 1px solid #334451;
    font-size: 18px;
    color: #90b1c9;
}
.headermid {
    width: 40%;
    position: relative;
}
.placeholder {
    position: absolute;
    top: 9px;
    left: 12px;
    font-size: 15px;
    color: #90b1c9;
    opacity: 0.5;
}
.headermid,
.headerright,
.headerleft {
    height: 35px;
}
/********************* End header *********************/

/********************* Start Sidebar css *********************/
.boxsidebar {
    width: 17%;
    color: white;
    height: 100vh;
    padding: 7px 0px 7px 5px;
}
.sidebar {
    background: #27313a;
    padding: 15px;
    margin: 0 auto;
    height: 100%;
    border-radius: 10px;
    /* box-shadow: 0px 0px 3px 3px rgb(217, 217, 217); */
}
.about {
    font-size: 15px;
    opacity: 0.8;
    color: rgb(147, 147, 147);
    margin: 5px 0px;
    font-weight: bold;
}
.sidebarheader {
    color: rgb(0, 170, 255);
    display: flex;
    justify-content: space-between;
    position: relative;
}
.fa-gem {
    font-size: 45px;
}
.sideleftheader {
    display: flex;
    justify-content: space-between;
    width: 28%;
    font-size: 20px;
    height: 45px;
    color: white;
}
.sideleftheader p {
    line-height: 45px;
}
.sideleftheader p:hover {
    color: #92b3ca;
    cursor: pointer;
}
.logoutchild {
    position: absolute;
    background: white;
    border: 1px solid black;
    right: -75px;
    top: 40px;
    border-radius: 5px;
    z-index: 1;
    display: none;
}
.logoutchild a {
    width: 100%;
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
}
.logoutchild span {
    margin-left: 5px;
}
.logoutchild a:hover {
    cursor: pointer;
    background: rgb(98, 0, 219);
    color: white;
}
.sidebaruserpic {
    width: 100%;
    text-align: center;
    color: white;
}
.sidebaruserpic img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.username {
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
}
.userfact {
    font-size: 12px;
    color: rgb(192, 192, 192);
}
.dashbar {
    background: #63b1bc;
    padding: 8px 10px;
    border-radius: 5px;
    margin-top: 5px;
    text-align: center;
}
.dashbar h1 {
    color: white;
    font-size: 23px;
}
.actions {
    margin-top: 10px;
}
.actionicon div:first-child {
    padding: 13px 20px;
    border-radius: 5px;
}
.actionicon div:first-child {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.actionicon p:nth-child(2) {
    width: 82%;
}
.actionicon div:first-child:hover {
    background: #92b3ca;
    cursor: pointer;
}
.childlist ul {
    list-style: none;
    font-size: 14px;
}
.childlist {
    width: 80%;
    margin: 0 auto;
    display: none;
}
.childlist ul li a {
    display: block;
    padding: 7px 10px;
}
.childlist ul li {
    border-radius: 5px;
}
.childlist ul li:hover {
    background: #92b3ca;
    cursor: pointer;
}
.childlist ul li span {
    margin-left: 10px;
}
a {
    color: white;
    text-decoration: none;
}
/********************* End sidebar css *********************/

/******************** Start Content CSS ********************/
.content {
    padding: 8px;
    width: 82.7%;
    height: 89%;
    position: absolute;
    top: 78px;
    right: 0;
}
/******************** End Content CSS ********************/

/******************** Start User List CSS ********************/
.list_user_table th,
.list_user_table tr,
.list_user_table td {
    padding: 10px 0px;
    text-align: center;
}
.list_user_table th {
    font-size: 18px;
    padding: 20px;
    background: #63b1bc;
    color: white;
}
.list_user_table th:nth-child(1) {
    border-top-left-radius: 10px;
}
.list_user_table th:last-child {
    border-top-right-radius: 10px;
}
.list_user_table td {
    font-weight: bold;
    color: #347881 !important;
    vertical-align: middle;
}
.list_user_table td i {
    border: 1px solid rgb(253, 253, 253, 0);
    padding: 5px;
    border-radius: 50%;
}
.list_user_table td i:hover {
    cursor: pointer;
    border: 1px solid black;
    background: black !important;
    color: #63b1bc !important;
}
.list_user_table {
    width: 100%;
    padding: 10px;
    height: 100px;
}
.list_user_table img {
    width: 60px;
    height: 70px;
}
.divtablefather {
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px rgb(217, 217, 217);
}
.divtable {
    height: 86%;
    overflow-y: scroll;
}
.divtable::-webkit-scrollbar {
    display: none;
}

.listmsg {
    width: 25%;
    background: #79c7d1;
    position: fixed;
    top: 5%;
    left: 37%;
    border-radius: 5px;
    padding: 20px 30px;
    color: white;
}
.listmsg h3 {
    border-bottom: 2px solid white;
    width: fit-content;
    margin-bottom: 10px;
}
.thongbao {
    position: relative;
}
.thongbao p {
    font-size: 50px;
}
.checkadd {
    position: absolute;
    top: 0;
    right: 0;
}
#hover_lock:hover {
    cursor: pointer;
}
/******************** End User List CSS ********************/

/******************** Start User Create  CSS ********************/

.signup_form {
    width: 100%;
    height: 100%;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px rgb(177, 177, 177);
}
.signup_form span {
    font-size: 15px;
    color: red;
}
.signup_form_div {
    padding: 8px 10px 0px 10px;
    border: 2px solid #63b1bc;
    margin-bottom: 10px;
}
.signup_form_div p {
    font-weight: normal;
    font-size: 15px;
}
.name_pass_form,
.phone_date_form,
.address_role_form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.signup_form_div input {
    padding: 5px 0px;
    border: none;
    font-size: 20px;
    font-weight: bold;
}
.signup_form_div input::placeholder {
    font-size: 16px;
    color: red;
}
.signup_form_div input:focus::-webkit-input-placeholder {
    opacity: 0;
}
.signup_form_div input:focus {
    outline: none;
}
.name_pass_form div {
    width: 49%;
}
.name_pass_form div input {
    width: 100%;
}
.email_form input {
    width: 100%;
}
.phone_date_form input {
    width: 100%;
}
.password_form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.password_form div {
    width: 49%;
}
.password_form div input {
    width: 100%;
}
.phone {
    width: 67%;
}
.dateofbirth {
    width: 31%;
}
.address {
    width: 81%;
}
.address_update {
    width: 100%;
}
.address input {
    width: 100%;
}
.role {
    width: 17%;
}
.role select {
    width: 100%;
    padding: 0 10px;
    height: 32px;
}
.role option {
    padding: 5px 10px;
}
#register {
    font-size: 25px;
    font-weight: normal;
}
.create_btn {
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background: rgb(113, 186, 255);
    margin-top: 7px;
}
.create_btn:hover {
    color: white;
    background: rgb(0, 0, 217);
    cursor: pointer;
}
.coffeimg {
    width: 30%;
}
.coffeimg img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.tocreate_btn {
    padding: 10px 20px;
    background: rgb(86, 156, 255);
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    margin-top: 10px;
}
#createbut {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.tocreate_btn:hover {
    background: rgb(0, 0, 211);
    color: white;
    cursor: pointer;
}
.createbox {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

#texterror {
    opacity: 1;
    color: red;
}
.texterror {
    opacity: 0;
}
/******************** End Create  CSS ********************/

/******************** Start Update  CSS ********************/
.name_form input {
    width: 100%;
}
#under_register {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #63b1bc;
}
#register {
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    font-weight: bold;
    background: #63b1bc;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}
.update_form_box {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.update_form {
    padding: 20px;
    width: 100%;
    height: 100%;
}
.update_btn {
    margin-top: 20px;
}
.update_form_div {
    border: 2px solid #63b1bc;
    padding: 8px 0px 0px 10px;
    margin-bottom: 10px;
}
.update_form_div input {
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0px;
}
.update_form_div input:focus {
    outline: none;
}
.update_form_div span {
    color: red;
    font-size: 15px;
}
.admi_update_form_left {
    width: 60%;
}
/******************** End Update  CSS ********************/

/******************** Start Category Create Form CSS ********************/

.category_content {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 0px 0px 3px 3px rgb(185, 185, 185);
}
.create_category_form {
    width: 40%;
    padding: 10px 30px 20px 30px;
    height: fit-content;
    background: white;
    border: 2px solid #63b1bc;
    margin: 40px auto;
}
.category_content h1 {
    width: 100%;
    text-align: center;
    color: white;
    background-color: #63b1bc;
    border-radius: 5px;
    padding: 10px;
}
.create_category_form div {
    width: 100%;
}
.category_name {
    width: 100%;
    border: 1px solid #63b1bc;
    padding: 5px 10px 0px 10px;
    margin-bottom: 20px;
}
.category_name p {
    font-size: 15px;
}
.category_name input {
    width: 100%;
    padding: 5px 0px;
    border: none;
    font-size: 20px;
    font-weight: bold;
}
.category_name input:focus {
    outline: none;
}
.category_name span {
    font-size: 13px;
    font-weight: bold;
    color: red;
    margin-left: 10px;
}
.category_image input {
    width: 100%;
}
.fake_file {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.fake_file div {
    width: 25%;
    padding: 8px 12px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px;
}
.fake_file .select_file {
    background: rgb(19, 0, 101);
    color: white;
    font-size: 15px;
    width: 40%;
}
.fake_file p:hover {
    cursor: pointer;
}
.fake_file input {
    width: 75%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid black;
    padding: 5px 20px;
}
.category_create {
    background: rgb(110, 199, 255);
    padding: 10px 20px;
    border: none;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
.category_create:hover {
    color: white;
    background: rgb(0, 0, 192);
    cursor: pointer;
}

.select_file:hover {
    color: white;
    background: red;
    cursor: pointer;
}

/******************** End Category Create Form CSS ********************/

/******************** Start Product Create Form CSS ********************/
.create_product_box {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 0px 0px 3px 3px rgb(185, 185, 185);
}
#create_product_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 85%;
}
.create_product_form {
    width: 45%;
    margin-top: 15px;
}
.create_product_box h1 {
    padding: 10px 20px;
    background: #63b1bc;
    text-align: center;
    border-radius: 10px;
    color: white;
}
.create_product_form div {
    width: 100%;
    border: 2px solid #63b1bc;
    margin-bottom: 15px;
    padding-top: 8px;
}
.create_product_form div span {
    font-size: 13px;
    color: red;
    margin-left: 10px;
    font-weight: bold;
}
.create_product_form div p {
    margin-left: 10px;
    margin-bottom: 5px;
}
.create_product_form div select {
    border: none;
    border-top: 3px solid #27313a;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0px;
    text-align: center;
}
.create_product_form div select:focus {
    outline: none;
}
.create_product_form div input {
    border: none;
    width: 100%;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
}
.create_product_form div input:focus {
    outline: none;
}
.create_product_form button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    background: rgb(106, 193, 255);
}
.create_product_form button:hover {
    color: white;
    background: blue;
    cursor: pointer;
}
.preview_picture {
    width: 50%;
    background: rgb(235, 235, 235);
    border: 4px dashed rgb(173, 173, 173);
    height: 99%;
    margin-top: 25px;
    text-align: center;
    position: relative;
}
.preview_picture img {
    height: 100%;
}
.preview_picture p {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: fit-content;
    font-size: 150px;
    color: rgb(194, 194, 194);
}
/******************** End Product Create Form CSS ********************/

/******************** Start ProductDetail Create Form CSS ********************/
.create_detail_box {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px 30px;
}
.create_detail_box h1 {
    width: 100%;
    padding: 12px 0px;
    text-align: center;
    background: #63b1bc;
    color: white;
    font-size: 27px;
    border-radius: 10px;
}
.create_detail_form {
    width: 40%;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 20px;
}
.create_detail_form_div {
    width: 100%;
    border: 2px solid #63b1bc;
    padding: 8px 0px 0px 10px;
    margin-bottom: 15px;
}
.create_detail_form_div input {
    width: 100%;
    border: none;
    font-size: 20px;
    font-weight: bold;
}
.create_detail_form_div input:focus {
    outline: none;
}
.create_detail_form_div span {
    font-weight: bold;
    font-size: 13px;
    color: red;
    margin-left: 10px;
}
.detail_thumbnail input {
    border-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.create_detail_btn {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    background: rgb(138, 187, 255);
}
.create_detail_btn:hover {
    background: blue;
    cursor: pointer;
    color: white;
}
#detail_table {
    height: 85%;
}
.productname_in_detail {
    background: rgb(98, 0, 219);
    width: fit-content;
    padding: 8px 12px;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}
#detail_divtablefather {
    height: 100%;
}
.product_default_id {
    display: none;
}
#for_default_id {
    width: 100%;
    padding: 5px 0px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    margin: 0;
}
/******************** End ProductDetail Create Form CSS ********************/

/******************** Start OrderList CSS ********************/
.order_status_active p {
    background: blue;
}
.order_status_delivering p {
    background: rgb(255, 117, 32);
}
.order_status_cancelRequest p {
    background: rgb(255, 30, 30);
}
.order_status_cancel p {
    background: red;
}
.order_status_complete p {
    background: green;
}
.order_status p {
    color: white;
    font-weight: bold;
    border-radius: 5px;
    width: 70%;
    margin: 0 auto;
    padding: 8px 0;
}
.payment_vnpay {
    color: blue;
    font-weight: bold;
}
.payment_cod {
    color: green;
    font-weight: bold;
}
.payment_shoppepay {
    color: orange;
    font-weight: bold;
}
.order_item {
    display: block;
    color: black;
}
/******************** End OrderList CSS ********************/

/******************** Start Order Item Admin CSS ********************/
.orderItem_box {
    width: 100%;
}
.orderItem_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.in_orderItem_header {
    width: 32.3%;
    box-shadow: 0px 0px 3px 3px rgb(217, 217, 217);
    padding: 10px;
    border-radius: 10px;
}
.in_orderItem_header h4,
.orderItem_body h4 {
    margin-bottom: 10px;
    font-size: 18px;
}
.in_orderItem_header h4 i,
.orderItem_body h4 i {
    margin-right: 10px;
    font-size: 20px;
    color: rgb(56, 192, 255);
}
.in_orderItem_header div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.in_orderItem_header div p:nth-child(2) {
    font-weight: bold;
}
.orderItem_body {
    width: 100%;
    height: 83%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.orderItem_body_left {
    width: 77%;
    box-shadow: 0px 0px 3px 3px rgb(217, 217, 217);
    padding: 15px 15px 10px 15px;
    border-radius: 10px;
    height: fit-content;
}
.orderItem_body_right {
    width: 21.5%;
}
.orderItem_body_left table {
    width: 100%;
    text-align: center;
}
.orderItem_body_left table img {
    width: 60px;
    height: 70px;
}
.orderItem_box_table {
    width: 100%;
    height: 250px;
    overflow-y: scroll;
}
.in_orderItem_table thead tr {
    background: #63b1bc;
    color: white;
    font-size: 18px;
}
.in_orderItem_table td {
    vertical-align: middle;
    padding: 2px 0;
    font-size: 15px;
    font-weight: bold;
}
.orderItem_box_table::-webkit-scrollbar {
    display: none;
}
#orderItem_color {
    width: 13px;
    height: 13px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 50%;
    background-position: center !important;
}
.create_bill {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid rgb(223, 223, 223);
    margin-top: 5px;
}
.create_bill_left,
.create_bill_right {
    width: 49%;
    padding: 20px 10px 0px 10px;
}
.create_bill_left div {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.create_bill_left div p:nth-child(2) {
    font-weight: bold;
    font-size: 18px;
}
.create_bill_right button,
.create_bill_left button {
    padding: 10px 20px;
    background: #63b1bc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}
.create_bill_left button {
    margin-top: 18px;
    padding: 0;
}
.create_bill_left button a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}
.create_bill_left button i {
    margin-right: 5px;
}
.create_bill_left button:hover a,
.create_bill_right button:hover {
    background: blue;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}
#cancel_bill {
    background: rgb(255, 67, 67);
    color: white;
    border-radius: 5px;
}
#cancel_bill:hover {
    background: rgb(255, 0, 0);
    color: white;
    border-radius: 5px;
}
#complete_bill {
    background: rgb(0, 222, 0);
    color: white;
    border-radius: 5px;
}
#complete_bill:hover {
    background: rgb(0, 112, 0);
    color: white;
    border-radius: 5px;
}
#delivering_bill {
    background: grey;
    color: black;
    border-radius: 5px;
}
#delivering_bill:hover {
    background: grey;
    color: black;
}
.create_bill_right textarea {
    width: 100%;
    height: 55%;
}
.create_bill_right div {
    display: flex;
    justify-content: space-between;
}
.orderItem_body_right div {
    margin-bottom: 20px;
    box-shadow: 0px 0px 3px 3px rgb(217, 217, 217);
    padding: 20px 15px;
    border-radius: 10px;
}
.orderItem_body_right select {
    width: 100%;
    padding: 5px 0px;
    text-align: center;
    font-size: 15px;
}
.orderItem_body_right option {
    padding: 5px 0px;
}
.district {
    width: 100%;
    padding: 5px 10px;
    font-size: 14px;
}
.user_infor_bill {
    height: 73.5%;
    padding-top: 10px;
}
.user_infor_bill h5 {
    font-size: 17px;
    font-weight: bold;
}
.user_infor_bill div {
    display: flex;
    justify-content: space-between;
    box-shadow: none;
    padding: 0;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 0;
}
.user_infor_bill h5 {
    font-size: 17px;
}
textarea {
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}
.delivering_and_complete {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
/******************** End Order Item Admin CSS ********************/

/******************** Start Alert Admin CSS ********************/
.alert_confirm_update,
.alert_confirm_delete {
    position: absolute;
    top: -8%;
    right: 48%;
    width: 28%;
    border: 1px solid black;
    padding: 15px 30px;
    background: white;
    text-align: center;
    display: none;
}
.alert_confirm_update p:nth-child(1),
.alert_confirm_delete p:nth-child(1) {
    font-size: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 45px;
    border: 3px solid black;
    margin: 0 auto;
}
.alert_confirm_update div,
.alert_confirm_delete div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.alert_confirm_update button,
.alert_confirm_delete button {
    padding: 5px 20px;
    border: none;
    font-size: 18px;
    background: #63b1bc;
    color: white;
    border-radius: 4px;
}
.alert_confirm_update button:hover,
.alert_confirm_delete button:hover {
    background: #334451;
    cursor: pointer;
}
.p_id_delete,
.p_id_update {
    display: none;
}
/******************** End Alert Admin CSS ********************/

/******************** Start User Acount Admin CSS ********************/
.userAcount_box {
    width: 100%;
    height: 92%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.userAcount_box_left {
    width: 32%;
    border-radius: 10px;
    height: 100%;
    padding: 30px 20px;
    box-shadow: 0px 0px 3px 3px rgb(187, 187, 187);
}
.userAcount_box_right {
    width: 66%;
    box-shadow: 0px 0px 3px 3px rgb(187, 187, 187);
    border-radius: 10px;
    height: 100%;
}
.account_avatar {
    width: 100%;
    text-align: center;
}
.account_avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.account_role {
    text-align: center;
    margin-top: 20px;
}
.account_role p:nth-child(1) {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5px;
}
.account_status {
    width: 100%;
    margin-top: 15px;
}
.account_status p {
    padding: 7px 20px;
    background: white;
    border: 2px solid #63b1bc;
    border-radius: 20px;
    width: fit-content;
    margin: 0 auto;
    font-size: 15px;
    font-weight: bold;
    color: #2a808b;
}
.account_chart {
    margin-top: 70px;
    width: 100%;
}
.account_chart p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #63b1bc;
    padding: 7px 10px;
    border-radius: 4px;
}
.account_id {
    padding: 15px;
    border-bottom: 2px solid #63b1bc;
    font-size: 22px;
    font-weight: bold;
}
.account_name_email {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.account_name_email div {
    width: 49%;
}
.account_name_email div p:nth-child(1) {
    font-size: 16px;
    margin-left: 5px;
}
.account_name_email div p:nth-child(2) {
    width: 100%;
    padding: 7px 15px;
    border: 2px solid #63b1bc;
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
}
.account_address {
    padding: 15px;
}
.account_address div p:nth-child(1) {
    font-size: 16px;
    margin-left: 5px;
}
.account_address div p:nth-child(2) {
    width: 100%;
    padding: 7px 15px;
    border: 2px solid #63b1bc;
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
}
.account_change_role {
    width: 100%;
    padding: 15px;
}
.account_change_role div p:nth-child(1) {
    font-size: 16px;
    margin-left: 5px;
}
.change_role_div form {
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.change_role_div select {
    width: 65%;
    padding: 7px 15px;
    border: 2px solid #63b1bc;
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
}
.change_role_div button {
    padding: 11px 7px;
    height: fit-content;
    margin-top: 5px;
    font-weight: bold;
    background: white;
    border: 2px solid #63b1bc;
}
.change_role_div button:hover {
    background: #63b1bc;
    color: white;
    cursor: pointer;
}
.account_change_role div p:nth-child(1) {
    font-size: 16px;
    margin-left: 5px;
}
.account_change_role div p:nth-child(2) {
    width: 30%;
    padding: 7px 15px;
    border: 2px solid #63b1bc;
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
}
#lock_change_status {
    background: black;
    border: none;
    color: white;
}
#unlock_change_status:hover {
    background: #63b1bc;
    color: white;
}
/******************** End User Acount Admin CSS ********************/
